<nav *ngIf="!isPopup" [ngClass]="{ open: isMenuOpen }">
  <div class="logo">
    <a href="home"><img [src]="this.logoimageurl" alt="Logo" /></a>
  </div>
  <ul class="links">
    <li>
      <a [routerLink]="" (click)="setPathPortfolioPreview()">Upcoming Events</a>
    </li>
    <li>
      <a [routerLink]="" (click)="setPathArtistEventHistory()">My Events </a>
    </li>
    <li>
      <a [routerLink]="" (click)="setPathArtistPortfolio()" class="active"
        >Current Event Portfolio
      </a>
    </li>
    <li><a [routerLink]="" (click)="setPathAccountArtist()">Profile</a></li>
    <li><a (click)="logOut()">Logout</a></li>
  </ul>
  <div class="menu-toggle">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-toggle" (click)="toggleMenu()">
      <div class="hamburger1">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </label>
  </div>
</nav>

<div
  [ngClass]="{ 'background-image': !isPopup }"
  [ngStyle]="{
    'background-image': !isPopup ? 'url(' + backgroundurl + ')' : ''
  }"
>
  <div class="row px-5 py-5">
    <div class="container portfolio-container-bg">
      <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div
          class="spinner-border text-secondary"
          role="status"
          style="height: 5rem; width: 5rem"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="form-container">
        <div *ngIf="!isLoading && state === 1">
          <div class="portfolio-header mb-3">Portfolio Details</div>
          <div class="portfolio-form">
            <div class="row formmm">
              <div class="col-2 input-title mb-4">Name</div>
              <div class="col-10">
                <input
                  class="portfolio-form-input form-control"
                  type="text"
                  [(ngModel)]="socialMediaInfo.name"
                  name="artistName"
                />
              </div>
              <div class="col-2 input-title">Bio</div>
              <div class="col-10 mb-4">
                <textarea
                  class="portfolio-form-input form-control height-100px"
                  type="text"
                  [(ngModel)]="socialMediaInfo.personalBio"
                  name="personalBio"
                ></textarea>
              </div>
              <div class="col-2 input-title extraa mb-4">YouTube</div>
              <div class="col-10">
                <input
                  class="portfolio-form-input form-control"
                  type="text"
                  [(ngModel)]="socialMediaInfo.youtube"
                  placeholder="eg: https://www.youtube.com/watch?v=9bZkp7q19f0"
                  name="artistYouTubeLink"
                />
              </div>
              <div class="col-2 input-title mb-4">Twitter Id</div>
              <div class="col-10">
                <input
                  class="portfolio-form-input form-control"
                  type="text"
                  [(ngModel)]="socialMediaInfo.twitter"
                  placeholder="eg: elonmusk"
                  name="ArtistTwitterLink"
                />
              </div>
              <div class="col-2 input-title mb-4">TikTok Id</div>
              <div class="col-10">
                <input
                  class="portfolio-form-input form-control"
                  type="text"
                  [(ngModel)]="socialMediaInfo.tiktok"
                  placeholder="eg: @taylorswift"
                  name="ArtistTikTokLink"
                />
              </div>
              <div class="col-2 input-title mb-4">Instagram Id</div>
              <div class="col-10">
                <input
                  class="portfolio-form-input form-control"
                  type="text"
                  [(ngModel)]="socialMediaInfo.instagram"
                  placeholder="eg: taylorswift"
                  name="ArtistTikTokLink"
                />
              </div>
              <div class="col-2 input-title mb-4">Facebook Id</div>
              <div class="col-10">
                <input
                  class="portfolio-form-input form-control"
                  type="text"
                  placeholder="eg: zuck"
                  [(ngModel)]="socialMediaInfo.facebook"
                  name="ArtistTikTokLink"
                />
              </div>
              <div class="col-2 input-title mb-4">Video Link</div>
              <div class="col-10">
                <input
                  class="portfolio-form-input form-control"
                  type="text"
                  [(ngModel)]="socialMediaInfo.personalWebsite"
                  name="ArtistTikTokLink"
                />
                <!-- <div class="col-2 input-title align-items-center d-flex">
                Upload Images
              </div> -->
                <!-- <form method="post" enctype="multipart/form-data">
                  <input type="file" name="images[]" multiple />
                  <input type="submit" value="Upload" />
                </form> -->
                <!-- <div class="col-10">
                <div class="upload-image-box">+</div>
              </div> -->
              </div>

              <div class="col-2 input-title mb-4">Designer Images</div>
              <div class="imagearrange">
                <input
                  type="file"
                  class="image-upload"
                  #cimageInput
                  id="cimageInputIdx"
                  (change)="conFileChanged($event)"
                />
                <div
                  *ngIf="designerFiles.length === 0"
                  (click)="cimageInput.click()"
                  class="upload-card cursor-pointer"
                >
                  <img
                    [src]="this.plusIcon"
                    alt="Plus Icon"
                    class="height-30px"
                  />
                </div>
                <div
                  *ngIf="designerFiles.length"
                  class="d-flex flex-row imagearrangement"
                >
                  <div
                    *ngFor="
                      let img of designerFiles;
                      let indexOfelement = index
                    "
                    class="position-relative me-3"
                  >
                    <img
                      [src]="img.url"
                      alt="Preview Image"
                      class="img-preview imageadjust border-10"
                    />
                    <div
                      class="cursor-pointer custom-hover"
                      (click)="clearFile1(indexOfelement)"
                    >
                      <img
                        [src]="this.deleteIcon"
                        alt="delete Icon"
                        class="height-30px op-1"
                      />
                    </div>
                  </div>
                  <div
                    *ngIf="designerFiles.length <= 3"
                    (click)="cimageInput.click()"
                    class="upload-card cursor-pointer ms-3"
                  >
                    <img
                      src="assets/images/plus-icon.svg"
                      alt="Plus Icon"
                      class="height-30px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-7"></div>
            <button
              (click)="saveArtist()"
              (disabled)="(isSaving)"
              class="btn col col-2 btn-primary preview-btn"
            >
              Save
            </button>
            <button
              class="btn col col-2 btn-primary cancel-btn ms-3"
              (disabled)="(isSaving)"
              (click)="changeState(2)"
            >
              Preview
            </button>
          </div>
        </div>
        <div *ngIf="!isLoading && state === 2" class="form-container">
          <div class="portfolio-header mb-3">Portfolio Preview</div>
          <div class="portfolio-form">
            <div
              class="mt-3 mb-3 header-title d-flex flex-row justify-content-between"
            >
              {{ socialMediaInfo.name }}
            </div>
            <div
              class="bio-container d-flex flex-row justify-content-between align-items-center"
            >
              <div class="bio-txt d-flex flex-row align-items-center ms-3 me-3">
                {{
                  socialMediaInfo.personalBio
                    ? socialMediaInfo.personalBio
                    : "No personal bio available"
                }}
              </div>
              <div class="d-flex flex-column justify-content-between">
                <img
                  [src]="instaIcon"
                  alt="Insta Logo"
                  *ngIf="socialMediaInfo.instagram"
                  (click)="
                    openInNewTab(
                      socialMediaInfo.instagram,
                      'https://instagram.com/'
                    )
                  "
                  class="cursor-pointer"
                />
                <img
                  [src]="facebookIcon"
                  alt="Facebook Logo"
                  *ngIf="socialMediaInfo.facebook"
                  (click)="
                    openInNewTab(
                      socialMediaInfo.facebook,
                      'https://facebook.com/'
                    )
                  "
                  class="cursor-pointer height-25px mt-4"
                />
                <img
                  *ngIf="socialMediaInfo.tiktok"
                  [src]="tiktokIcon"
                  (click)="
                    openInNewTab(socialMediaInfo.tiktok, 'https://tiktok.com/')
                  "
                  alt="Tiktok Logo"
                  class="cursor-pointer height-25px mt-4"
                />
                <img
                  [src]="twitterIcon"
                  alt="Twitter Logo"
                  *ngIf="socialMediaInfo.twitter"
                  class="cursor-pointer height-25px mt-4"
                  (click)="
                    openInNewTab(
                      socialMediaInfo.twitter,
                      'https://twitter.com/'
                    )
                  "
                />
                <img
                  [src]="youtubeIcon"
                  alt="Youtube Logo"
                  *ngIf="socialMediaInfo.youtube"
                  class="cursor-pointer height-30px mt-4"
                  (click)="openInNewTab(socialMediaInfo.youtube)"
                />
              </div>
            </div>
            <div *ngIf="socialMediaInfo.youtube" class="mt-3 d-flex flex-row">
              <div
                class="col-2 input-title input-title1 align-items-center d-flex"
              >
                Video link :
              </div>
              <div
                class="col-10 d-flex flex-row viedolink text-decoration-underline cursor-pointer"
                (click)="openInNewTab(socialMediaInfo.youtube)"
              >
                {{ socialMediaInfo.youtube }}
              </div>
            </div>
            <div
              class="mt-3 d-flex flex-row"
              *ngIf="designerFiles.length !== 0"
            >
              <div class="col-2 input-title1 input-title d-flex">
                Designer Images :
              </div>
              <div class="col-10 imagearrangement1 d-flex flex-row">
                <img
                  *ngFor="let file of designerFiles"
                  [src]="file.url"
                  alt="Preview Image"
                  class="img-preview imageadjust border-10 me-3"
                />
                <!-- <div class="upload-image-box ms-3"></div>
                <div class="upload-image-box ms-3"></div> -->
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-9"></div>
            <button
              (click)="changeState(1)"
              class="btn col col-2 btn-primary cancel-btn ms-2"
            >
              Edit
            </button>
            <!-- <div class="col-6"></div>
            <button
              (click)="closeModal()"
              class="btn col col-2 btn-primary cancel-btn ms-2"
            >
              Cancel
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer
    *ngIf="!isPopup"
    class="text-center text-lg-start bg-light text-muted"
  >
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>FIG
            </h6>
            <p>Hello, Welcome to Buffalo Fashion Week</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Products</h6>
            <p>
              <a href="https://google.com/" class="text-reset">FIG</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p>
              <a href="https://google.com/" class="text-reset">FIG</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Buffalo, NY 14226, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://google.com/">google.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
